/* Container */

.container {
  width: 80%;
  border: 3px solid black;
  border-radius: 1rem;
  margin: 3rem auto 0;
  padding: 2rem;
  background-color: #fefefe;
}

hr {
  margin: 10px 0;
}

#title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

ul li {
  list-style: inside;
}

/* Table */

table td,
table th {
  padding: 1rem;
}

table thead th:nth-child(3) {
  width: 40%;
}
