/* Container */

.container {
  width: 80%;
  border: 3px solid black;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fefefe;
}

hr {
  margin: 10px 0;
}

#title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

/* Table */

table td,
table th {
  padding: 1rem;
}

table thead th:nth-child(3) {
  width: 40%;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0 1rem;
}

.pagination a.unactivated {
  opacity: 0;
  cursor: default;
}

.pagination a {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #010101;
}

.pagination a:hover {
  background-color: #010101;
  color: #fefefe;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1336px) {
  :root {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  :root {
    font-size: 62%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  :root {
    font-size: 55%;
  }
}
